# This is a basic workflow to help you get started with Actions

name: Build and Push to upyun

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Setup yarn
        run: npm i -g yarn
      - name: Cache NPM dependencies
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.OS }}-npm-cache
          restore-keys: |
            ${{ runner.OS }}-npm-cache
      - name: Install Dependencies
        run: yarn install
      - name: Build
        run: yarn run build
      - name: Download Upyun
        run: wget -O upx http://collection.b0.upaiyun.com/softwares/upx/upx-linux-amd64-v0.1.3 && chmod +x ./upx
      - name: Login to Upyun
        run: ./upx login ${{ secrets.KJM }} ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }}
      - name: Update to Upyun
        run: ./upx sync ./public /
